/bootstrap/compiled.php
/vendor
/app/config/app.php
/app/config/database.php
/app/config/hybridauth.php
/app/config/mail.php
/app/database/development.sqlite
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
